* {
    margin: 0px;
    padding: 0px;
    font-family: 'Fredoka One', cursive;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mainTitle {
    display: flex;
    align-items: center;
    font-size: 8vw;
    padding: 2vw;
    color:#E56997;
}

#startButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #BD97CB;
    width: 15vw;
    height: 8vh;

    border-radius: 15px;
    font-size: 3vw;
    color: white;

    transition: .2s;
}

#startButton:hover {
    background-color: #cda6db;
    padding-top: 0.4vw;
}

#Inputrow {
    margin-top: 4vh;
    
}